<section id="gigs" class="container">
    <h1>All Jobs</h1>
    
    {{#each jobs}}
  <div class="gig">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <ul>
        <li>{{budget}}</li>
        <li><a href="mailto:{{contact}}" class="btn btn-reverse">Apply Now</a></li>
      </ul>
      <div class="tech">
        <small>Technologies Needed: <span>{{technologies}}</span></small>
      </div>
    </div>
    {{else}}
    <p>no job available</p>
    {{/each}}
  


  </section>